body{
    margin: 0;
}
header {
    background-image: url(ResturantSite.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    padding:0px 400px;
}
a {
    color: white;
    text-decoration: none;
}

.nav {
    padding:20px 0px;
    
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    font-size:30px;
}
.logo {
    color: rgb(3, 78, 78);
}

.sec-nav a{
        background-color: rgb(11, 97, 168);
        
        padding: 12px 48.5px;

}

.active {
    background-color: white !important;
    color: rgb(45, 45, 108);

}
.highlight {
    background-color: rgb(45, 45, 108) !important;
    color: white;
}
.content {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.content h1{
    background-color: rgb(45, 45, 108);
    font-size: 40px;
    color: white;
    padding: 16px;
    display: inline-block;
    
}

.white-link {
    background-color: white;
    color: rgb(45, 45, 108);
    padding: 16px;
    font-size: 30px;
}
.teal-link{
background-color: rgb(45, 45, 108);
    color: white;
    padding: 16px;
    font-size: 30px;
}